.login-popup-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(67, 67, 67, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    animation: 500ms ease 0s 1 normal none running react-responsive-modal-fadeIn;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .login-popup-container .info-container {
    width: 470px;
    max-width: 470px !important;
    padding: 24px !important;
    background-color: #fff;
    border-radius: 7px;
  }
  
  .login-popup-container .info-container .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  
  .login-popup-container .info-container .title-container h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  .login-popup-container .info-container .title-container svg {
    cursor: pointer;
    height: 20px;
  }
  
  .login-popup-container .info-container .title-container svg:hover path {
    fill: #000;
  }
  
  .login-popup-container .info-container .title-container svg path {
    fill: #999cb2;
  }
  
  .login-popup-container .info-container p {
    font-size: 14px;
    color: #737591;
    font-weight: 500;
    padding-bottom: 20px;
  }
  
  .login-popup-container .info-container a {
    color:#ff42c9cb;
    text-decoration: none;
  }
  
  .login-popup-container .info-container .button-container {
    display: flex;
  }
  
  .login-popup-container .info-container .button-container button {
    border-radius: 5px;
    width: 120px !important;
    height: 45px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-popup-container .info-container .button-container button:nth-child(1) {
    margin-right: 10px;
    border: 1px solid #e5e6eb;
    margin-left: auto;
    background-color: #fff;
    color: #3e3e3e;
  }
  
  .login-popup-container
    .info-container
    .button-container
    button:nth-child(1):hover {
    background-color: #e5e6eb;
    color: #595a7d;
  }
  
  .login-popup-container .info-container .button-container button:nth-child(2) {
    border: none;
    background-color: #ff42cade;
    color: #fff;
  }
  
  .login-popup-container
    .info-container
    .button-container
    button:nth-child(2):hover {
    background-color: #ff42ca;
  }
  