.center-saved-card {
  background-color: rgba(248, 248, 249, 0.5);
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
  cursor: default;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
}

.center-saved-card:hover {
  border-color: #ff43ca;
  background: rgba(255, 67, 202, 0.05);
}

.center-saved-card p {
  text-transform: capitalize;
}

.center-saved-card span {
  font-weight: normal;
}

.center-saved-card .info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

.center-saved-card .info .row {
  display: flex;
  flex-direction: column;
}

.center-saved-card .info .category {
  text-transform: capitalize;
}

.center-saved-card .button-container {
  display: flex;
}

.center-saved-card .button-container svg {
  height: 22px;
  margin-left: 20px;
  cursor: pointer;
}

.center-saved-card .button-container svg:nth-child(1):hover path {
  stroke: #ff43ca;
}

.center-saved-card .button-container svg:nth-child(2):hover path {
  stroke: #0078ff;
}

.center-saved-card .button-container svg:nth-child(3):hover path {
  stroke: red;
}
