.center-dashboard .search-container {
  height: 160px;
  background: #fff;
  border-radius: 10px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-dashboard .search-container p {
  font-weight: 500;
  font-size: 24px;
}

.center-dashboard .search-container span {
  font-weight: 300;
  font-size: 18px;
}

.center-dashboard .search-container button {
  width: 189px;
  height: 50px;
  background: #ff43ca;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

/* quotes info */
.center-dashboard .quotes-info {
  height: 90px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.center-dashboard .quotes-info span {
  font-weight: 500;
  font-size: 18px;
  margin-right: 8px;
  color: #000;
}

.center-dashboard .quotes-info .line {
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  width: 1px;
}

/* popular quotes */
.center-dashboard .popular-quotes {
  height: calc(100vh - 380px);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  overflow: scroll;
}

.center-dashboard .popular-quotes .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 5px;
}

.center-dashboard .popular-quotes .error {
  width: 400px;
  text-align: center;
  align-self: center;
}

.center-dashboard .popular-quotes .link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.center-dashboard .popular-quotes .head span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
}

.center-dashboard .popular-quotes .head select {
  width: 100px;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  border: none;
  text-transform: capitalize;
  background: url(../../assets/DownArrow.svg) 98% center no-repeat !important;
  background-size: 20px 20px !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.center-dashboard .popular-quotes .scroll-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.center-dashboard .popular-quotes .scroll-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.center-dashboard .popular-quotes .scroll-container:hover::-webkit-scrollbar-thumb {
  background: #ff42ca;
  border-radius: 100px;
}


.center-dashboard .popular-quotes .card {
  background: rgba(248, 248, 249, 0.5) !important;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.center-dashboard .popular-quotes .card:hover {
  background: rgba(255, 67, 202, 0.05) !important;
}

.center-dashboard .popular-quotes .card span {
  font-size: 16px;
  font-weight: 400;
}

.center-dashboard #copySaved {
  position: absolute;
  top: -400px;
}


/* Loading container */
.media-container .loading-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.center-dashboard .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}