.center-create {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.center-create .title {
  font-size: 18px;
  color: #808080;
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.center-create .title span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  cursor: pointer;
}

.center-create .title svg {
  height: 18px;
  width: 18px;
  margin-top: 2px;
}

.center-create .title svg:hover path {
  stroke: #000000;
}

.center-create .title-input {
  margin-top: 10px;
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  height: 40px;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: normal;
}

.center-create .text-area {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  overflow: scroll;
}

.center-create .text-area input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: normal;
}

.center-create .text-area .length {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 12px;
  color: #808080;
}

.center-create select {
  margin-top: 10px;
  height: 46px;
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px;
  background: rgba(248, 248, 249, 0.5);
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  border: none;
  text-transform: capitalize;
  background: url(../../assets/DownArrow.svg) 98% center no-repeat
    rgba(248, 248, 249, 0.5) !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.center-create .save {
  width: 150px;
  height: 41px;
  min-height: 41px;
  background: #ff43ca;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-top: 25px;
  border: none;
  cursor: pointer;
}

.center-create .cancel {
  width: 150px;
  height: 41px;
  min-height: 41px;
  background: #000;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-top: 25px;
  border: none;
  cursor: pointer;
}
