.center-saved {
  height: calc(100vh - 90px);
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;
}

.center-saved::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.center-saved:hover::-webkit-scrollbar-thumb {
  background: #ff42ca;
  border-radius: 100px;
}

.center-saved #copySaved {
  position: absolute;
  top: -1000px;
}

.center-saved .hide {
  display: none;
}

.center-saved .box {
  height: 300px;
  background-color: red;
  margin-bottom: 10px;
}

.center-saved .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}