.connect-account {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.connect-account .popup {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.connect-account .popup .head {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.connect-account .popup .head span {
  width: 300px;
  font-size: 18px;
}

.connect-account .popup .head .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-account .popup .save {
  height: 35px;
  min-height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  cursor: pointer;
}

.connect-account .popup .close {
  height: 35px;
  min-height: 35px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 50%;
  border: 1.5px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-account .popup .close:hover {
  border-color: red;
}

.connect-account .popup .close:hover svg path {
  stroke: red;
}

.connect-account .popup .scroll {
  overflow-y: scroll;
}

.connect-account .popup .scroll::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.connect-account .popup .scroll:hover::-webkit-scrollbar-thumb {
  background: #f943ca;
  border-radius: 100px;
}

.connect-account .popup .scroll .account-not-found {
  margin-top: 10px;
}

.connect-account .popup .scroll .account-not-found  p {
  font-size: 14px;
  color: #737591;
  font-weight: 500;
  padding-bottom: 20px;
}

.connect-account .popup .scroll .account-not-found a {
  color:#ff42c9cb;
  text-decoration: none;
}

.connect-account .popup .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  padding: 10px 10px;
}

.connect-account .popup .card div {
  display: flex;
  align-items: center;
}

.connect-account .popup .card img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.connect-account .popup .card button {
  width: 150px;
  font-size: 14px;
  letter-spacing: 0.02em;
  height: 40px;
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.connect-account .active {
  background-color: #f943ca;
  color: #fff;
  font-weight: 500;
}

.connect-account .all-accounts-connected {
  margin-top: 10px;
  font-size: 14px;
}