.popup-container {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container .card {
  height: 200px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.popup-container .card .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-container .card .head span:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.popup-container .card .head svg {
    cursor: pointer;
}

.popup-container .card input {
    height: 40px;
    min-height: 40px;
    margin-bottom: 15px;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #f8f8f9;
    border: none;
    margin-top: 20px;
}


.popup-container .card button {
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 400;
    width: 150px;
    height: 41px;
    background: #ff43ca;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}