.insta-tags-container {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  padding: 10px 14px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.insta-tags-container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insta-tags-container .head img {
  cursor: pointer;
}

.insta-tags-container .head .rotate {
  transform: rotate(180deg);
}

.insta-tags-container .card1 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.02em;
}

.insta-tags-container .graph-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 124px;
  height: 20px;
  min-height: 20px;
}

progress[value]::-webkit-progress-bar {
  background: #F8F8F9;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background: rgba(255, 67, 202, 0.25);
    border-radius: 3px 0px 0px 3px;
}
