.create-category {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.create-category .tabs-container {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
}

.create-category .tabs-container div {
  cursor: pointer;
  margin-right: 20px;
}

.create-category .tabs-container .active {
  font-weight: 500;
  border-bottom: 2px solid #ff43ca;
  color: #ff43ca;
}

.create-category .button-container {
  display: flex;
  justify-content: space-between;
}

.create-category .button-container button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: rgba(229, 229, 229, 0.5);
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.create-category .button-container button:nth-child(1) {
  border-radius: 5px;
}

.create-category .button-container button:nth-child(2) {
  margin-left: 5px;
}

.create-category select {
  height: 40px;
  min-height: 40px;
  width: 100%;
  padding: 0px 10px;
  background: #f8f8f9;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  border: none;
  text-transform: capitalize;
  background: url(../../assets/DownArrow.svg) 98% center no-repeat
  #f8f8f9 !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-top: 10px;
}

.create-category .button-container .active {
  background: #ff43ca;
  color: #ffffff;
}

.create-category .input-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;
}

.create-category .input-container button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background: #ff43ca;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-category .input-container button svg {
  height: 20px;
}

.create-category .input-container input {
  height: 40px;
  width: 100%;
  min-height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  letter-spacing: 0.02em;
  background: #f8f8f9;
  font-weight: 300;
  font-size: 14px;
}

.create-category .show-tags {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.create-category .show-tags::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.create-category .show-tags:hover::-webkit-scrollbar-thumb {
  background: #ff42ca;
  border-radius: 100px;
}

.create-category .show-tags .card {
  display: flex;
  flex-direction: column;
  background: rgba(248, 248, 249, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Saved */
.create-category .card-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.create-category .card-wrapper::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.create-category .card-wrapper:hover::-webkit-scrollbar-thumb {
  background: #ff42ca;
  border-radius: 100px;
}

.create-category .card-wrapper .card {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 5px;
  margin-top: 10px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  color: #333333;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 18px;
}

.create-category .card-wrapper .card p {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
  line-height: 21px;
}

/* Twitter */
.create-category .twitter-trends {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.create-category .twitter-trends select {
  height: 40px;
  min-height: 40px;
  width: 100%;
  padding: 0px 10px;
  background: #f8f8f9;
  border-radius: 5px;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  border: none;
  text-transform: capitalize;
  background: url(../../assets/DownArrow.svg) 98% center no-repeat #f8f8f9 !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.create-category .twitter-trends .scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.create-category .twitter-trends .scroll::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.create-category .twitter-trends .scroll:hover::-webkit-scrollbar-thumb {
  background: #ff42ca;
  border-radius: 100px;
}

.create-category .twitter-trends .scroll .card {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #000000;
}

.create-category .card:hover {
  background: rgba(255, 67, 202, 0.03) !important;
}

.create-category .loading-card {
  margin-top: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}