.right-saved {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 15px;
}

.right-saved .title {
  font-size: 18px;
  font-weight: 500;
}

.right-saved select {
  margin-top: 10px;
  height: 46px;
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #f8f8f9;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  border: none;
  text-transform: capitalize;
  background: url(../../assets/DownArrow.svg) 98% center no-repeat #f8f8f9 !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
